@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
       url("../fonts/roboto-v20-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin-700.woff2") format("woff2"),
       url("../fonts/roboto-v20-latin-700.woff") format("woff");
}

*{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
body{
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", serif;
}
.container{
  max-width: 1148px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 24px;
}
.header, .nav{
  display: flex;
  align-items: center;
}
.header{
  justify-content: space-between;
  padding: 16px 0;
}
.nav{
  padding: 0;
  margin: 0;
  font-size: 15px;
}
.nav li{
  list-style-type: none;
  margin-left: 32px;
  cursor: pointer;
}
.nav a{
  text-decoration: none;
  color: #000;
}
.nav button{
  background-color: #00BAFC;
  border:none;
  border-radius: 5px;
  padding: 8px 16px;
  color: #fff;
  cursor: pointer;
}
/* ==================header end================== */
.main-header-text{
  width: 465px;
  margin: 97px 0;
  line-height: 24px;
}
.main-header-text h1{
  line-height: 130%;
  margin-bottom: 0;
}
.main-header-text a{
  display: inline-block;
  background-color: #00BAFC;
  color: #fff;
  border:none;
  border-radius: 5px;
  padding: 8px 16px;
  text-decoration: none;
}
.hr-center{
  width: 300px;
  height: 3px;
  margin-bottom: 54px;
  background-color: #eee;
  border:none;
  border-radius: 5px;
}
/* ==================main-header-text end================== */
.middle-servis h2{
  text-align: center;
  margin: 0;
  padding: 20px 0 12px;
}
.middle-servis .p-top{
  width: 719px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 24px;
}
.middle-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  padding-bottom: 48px;
}
.middle-list li{
  width: 320px;
  list-style-type: none;
  text-align: center;
  margin-bottom: 48px;
  box-shadow: 0 2px 5px #ccc;
}
.middle-links {
  display: block;
  text-align: center;
  margin-bottom: 56px;
}
.middle-links .first-link{
  display: inline-block;
  background-color: #00BAFC;
  border:none;
  border-radius: 5px;
  padding: 8px 16px;
  color: #fff;
  text-decoration: none;
}
.middle-links .second-link{
  color: #00BAFC;
  margin-left: 20px;
}
/* ==================middle-services end================== */
.how-w-w-header{
  display: block;
  width: 719px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
  text-align: center;
}
.suppots{
  width: 814px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
.how-w-w-link{
  display: block;
  text-align: center;
  margin: 50px 0 56px;
}
.how-w-w-link a{
  display: inline-block;
  background-color: #00BAFC;
  border:none;
  border-radius: 5px;
  padding: 8px 16px;
  color: #fff;
  text-decoration: none;
}
/* ==================middle-how-we-work end================== */
.form{
  padding-bottom: 64px;
}
.middle-bottom{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  background-color: #00BAFC;
}
.form-input{
  display: block;
  width: 348px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  background-color: #fff;
}
.form-input *{
  margin-bottom: 16px;
}
.form-input input:focus{
  outline: none;
}
.form-input input{
  display: block;
  width: 300px;
  height: 36px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  background-color: #F3F3F3;
}
.form-input button{
  display: block;
  background-color: #00BAFC;
  border:none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-decoration: none;
}
/* ==================middle-bottom end================== */
.footer{
  background-color: #000;
}
.footer-side{
  display: flex;
  color: #fff;
}
.copyright{
  width: 320px;
  padding: 56px 0 120px 0;
  line-height: 150%;
}
.footer-side h3{
  margin-top: 0;
}
.site-links{
  margin: 0 150px;
}
.site-links, .social-links{
  padding-top: 56px;
}
.site-links a, .social-links a{
  display: block;
  text-decoration: none;
  color: #fff;
  line-height: 150%;
}
.social-links a{
  transform: translateX(24px);
  padding: 0 0 14px;
}
.social-links .tg::before,
.social-links .fc::before,
.social-links .ins::before{
  content: "";
  width: 22px;
  height: 24px;
  background-size: 100%;
  position: absolute;
  transform: translateX(-100%);
}
.social-links .tg::before{
  background-image: url(../img/telegram.svg);
}
.social-links .fc::before{
  background-image: url(../img/facebook.svg);
}
.social-links .ins::before{
  background-image: url(../img/instagram.svg);
}
/* ==================footer end================== */
