

*{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
body{
  padding: 0;
  margin: 0;
  height: 3500px;
}
.container{
  max-width: 1148px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 24px;
  background-color: #ccc;
}
.header, .nav{
  display: flex;
  align-items: center;
}
.header{
  /* position: fixed; */
  /* width: 1100px; */
  justify-content: space-between;
  padding: 16px 0;
}
.nav{
  padding: 0;
  margin: 0;
  font-size: 15px;
}
.nav li{
  list-style-type: none;
  margin-left: 32px;
  cursor: pointer;
}
.nav a{
  text-decoration: none;
  color: #000;
}
.nav button{
  background-color: #00BAFC;
  border:none;
  border-radius: 5px;
  padding: 8px 16px;
  color: #fff;
  cursor: pointer;
}
/* ==================header end================== */
.main-header-text{
  width: 465px;
  margin: 97px 0;
  line-height: 24px;
}
.main-header-text h1{
  line-height: 130%;
  margin-bottom: 0;
}
.main-header-text a{
  display: inline-block;
  background-color: #00BAFC;
  color: #fff;
  border:none;
  border-radius: 5px;
  padding: 8px 16px;
  text-decoration: none;
}
.hr-center{
  width: 300px;
  height: 3px;
  margin-bottom: 54px;
  background-color: #eee;
  border:none;
  border-radius: 5px;
}
/* ==================main-header-text end================== */
.middle-servis h2{
  text-align: center;
  margin: 0;
  padding: 20px 0 12px;
}
.middle-servis .p-top{
  width: 719px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 24px;
}
.middle-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  padding-bottom: 48px;
}
.middle-list li{
  width: 320px;
  list-style-type: none;
  text-align: center;
  box-shadow: 0 2px 5px #ccc;
  border: 1px solid #000;
}
.middle-links {
  display: block;
  text-align: center;
  margin-bottom: 56px;
}
.middle-links .first-link{
  display: inline-block;
  background-color: #00BAFC;
  border:none;
  border-radius: 5px;
  padding: 8px 16px;
  color: #fff;
  text-decoration: none;
}
.middle-links .second-link{
  color: #00BAFC;
  margin-left: 20px;
}
/* ==================middle-services end================== */
.how-w-w-header{
  display: block;
  width: 719px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
  text-align: center;
}
.suppots{
  width: 814px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
.how-w-w-link{
  display: block;
  text-align: center;
  margin: 50px 0 56px;
}
.how-w-w-link a{
  display: inline-block;
  background-color: #00BAFC;
  border:none;
  border-radius: 5px;
  padding: 8px 16px;
  color: #fff;
  text-decoration: none;
}
/* ==================middle-how-we-work end================== */
.form{
  padding-bottom: 64px;
}
.middle-bottom{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 56px;
  background-color: #00BAFC;
}
.form-input{
  display: block;
  width: 348px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  background-color: #fff;
}
.form-input *{
  margin-bottom: 16px;
}
.form-input input:focus{
  outline: none;
}
.form-input input{
  display: block;
  width: 300px;
  height: 36px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  background-color: #F3F3F3;
}
.form-input button{
  display: block;
  background-color: #00BAFC;
  border:none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-decoration: none;
}